@font-face {
    font-family: Judson;
    src: url("../fonts/Judson-Regular.ttf") format("truetype");
}

body {
    background:#fff;
    font-family:Pfennig;
}

div#mainwrapper {
    width:960px;
    margin:0 auto;
}

div#header {
    margin-top:13px;
    padding:13px 0;
}

div#header h1 {
    letter-spacing:1px;
    font-family:Pfennig;
    font-size:33px;
    color: rgb(133, 133, 133);
    text-shadow:0px 1px 0px rgb(200, 200, 200);
}

span#pretext {
    color: rgb(200, 200, 200);
}

span#name {
    font-weight:bold;
    color: rgb(42, 42, 42);
}

div#controller {
    position:relative;
    width:960px;
    height:475px;
    overflow:hidden;
}

div.boxcontent {
    position:absolute;
    width:3000px;
}

div.content {
    float:left;
    height:465px;
    width:960px;
}

div.leftbar {
    height:435px;
    padding:0px 23px; 
    position:absolute;
    background: black;
    opacity:0.66;
    width:333px;
}

div.leftbar p {
    font-family:Pfennig;
    font-size:0.9em;
    margin-top:7px;
    padding:7px 0;
    text-indent:13px;
    line-height:1.2em;
}

div.leftbar a {
    color: rgb(255, 255, 255);
}

div#taggrid {
    font-family:Pfennig;
    text-shadow:0px 1px 0px white;
    text-align:center;
}

span.menudesc {
    text-align:center;
    position:absolute;
    width:960px;
    padding:3px 0;
    text-transform:lowercase;
    color: rgb(113, 113, 113);
    font-family:Pfennig;
    font-weight:100;
    letter-spacing:2px;
}

div#menu {
    position:absolute;
    text-align:center;
    width:960px;
    margin:0 auto;
}

div#menu ul, div#menu li {
    margin:0;
    padding:0;
    display:inline;
    list-style: none;
}

div#menu li {
    display:inline;
}

div#menu li:first-child a {
    border-radius:0px 0px 0px 13px;
    border-left:1px solid rgb(213, 213, 213);
}

div#menu li:last-child a {
    border-radius:0px 0px 13px 0;
}

div#menu a {
    font-variant:small-caps;
    text-decoration:none;
    color: rgb(42, 42, 42);
    background-image:-moz-linear-gradient(top center, rgb(233, 233, 233), rgb(200, 200, 200));
    background-color: rgb(233, 233, 233);
    border:1px solid rgb(213, 213, 213);
    border-left:0;
    padding:7px 23px;
    font-size:1.3em;
    color: rgb(100, 100, 100);
    text-shadow:0 1px 0px white;
    text-align:center;
}

div#menu a:hover {
    border-bottom:1px solid rgb(166, 166, 166);
    background-color: rgb(213, 213, 213);
    color: #000;
}

div#menu a.selected {
    background-color: rgb(100, 150, 233);
    background-image: none;
    border-bottom:1px solid rgb(100, 100, 100);
    color:white;
    text-shadow:0 1px 0px rgb(100, 100, 100);
}

div.textblock {
    color: rgb(213, 213, 213);
    vertical-align:center;
    text-indent:7px;
    font-size:23px;
}

div#taggrid span {
}

span.tag1 {
    font-size:66px;
    color: rgb(255, 255, 255);
}

span.tag2 {
    font-size:55px;
    color: rgb(213, 213, 213);
}

span.tag3 {
    font-size:44px;
    color: rgb(166, 166, 166);
}

span.tag4 {
    font-size:33px;
    color: rgb(133, 133, 133);
}

span.strike {
    text-decoration:line-through;
}
