$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@font-face {
    font-family: 'OpenBaskerville0.0.53';
    src: url('../fonts/openbaskerville-0.0.53-webfont.eot');
    src: url('../fonts/openbaskerville-0.0.53-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/openbaskerville-0.0.53-webfont.woff') format('woff'),
         url('../fonts/openbaskerville-0.0.53-webfont.ttf') format('truetype'),
         url('../fonts/openbaskerville-0.0.53-webfont.svg#OpenBaskerville0.0.53Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

$dark: rgb(42, 42, 42);
$light: rgb(242, 242, 242);

body {
    margin:0;
    padding:0;
    font-family:"OpenBaskerville0.0.53", serif;
    background:url("../images/noise.png");
}

#header-background {
    overflow:auto;
    background:rgba(42, 42, 42, 0.9);
    border-bottom:1px solid $dark;
}


header {
    text-align:center;
    padding:0 7%;
    margin:0 auto;
    font-size:1.3em;
    color:darken($light, 30%);
    letter-spacing:1px;
    line-height:1.3em;
    text-shadow:0px -1px 0px black;
    max-width:23em;

    h1 {
        letter-spacing:7px;
        text-shadow:0px 1px 13px $dark;
        color:white;
        font-size:333%;
        font-weight:100;
        text-transform:lowercase;
        padding:0.33em 0;
    }

    h2 {
        letter-spacing:13px;
    }

    p {
        font-style:italic;
    }

    p:nth-child(odd) {
        text-align:left;
    }

    p:nth-child(even) {
        text-align:right;
    }

    a {
        background:none;
        border-bottom:1px darken($light, 42%) dashed;
        color:$light;

        &:hover, &:focus, &:active, &:visited {
            color:$light;
        }

        &:hover {
            border-bottom:1px dashed darken($light, 13%);
        }
    }
}

img#background {
    position:absolute;
    max-width:100%;
    z-index:-100;
    margin-top:-555px;
}

#main-wrapper {
    float:left;
    background:rgba(0, 0, 0, 0.8);
    border-right:1px solid lighten($dark, 33%);
    margin:0 auto;
    max-width:42em;
}

section {
    color:#AAA;

    margin:2.4em 7%;
    font-size:1.77em;
    text-align:center;
    line-height:1.4em;

    h3 {
        font-size:1.7em;
        color:white;
        font-variant:small-caps;
        font-weight:100;
        border-bottom:1px dashed lighten($dark, 13%);
        display:block;
        padding:0.42em 0;
        margin:0.42em 0;
        letter-spacing:2px;
    }

    p {
        text-align:justify;
        margin:1.3em 0;

        span.date {
            display:none;
            text-transform:uppercase;
            text-shadow:0px 1px 12px black;
            position:absolute;
            line-height:2em;
            z-index:-1;
            font-weight:bold;
            color:white;
        }
    }
}

emph {
    background:rgba(242, 242, 242, 0.4);
    padding:0.0666em;
}

a {
    color:#0088cc;
    padding-bottom:4px;
    border-bottom:1px dashed #0088cc;
    text-decoration:none;

    &:hover {
        border-bottom:1px solid #0088cc;
    }
}

ul {
    li {
        list-style-type:disc;
        padding:0.42em 0;
    }
}