@import url('https://fonts.googleapis.com/css?family=PT+Serif');

:root {
  font-size: 110%;
  font-family: "PT Serif", serif;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 142%;
}

a {
  box-sizing: border-box;

}

a:focus {
  background: yellow;
  border: 3px solid salmon;
  outline: none;
  padding: 0.3rem;
}

nav {
  padding: 1rem;
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgb(230, 230, 230);
}

h1 {
  line-height: 100%;
}

h2 {
  display: inline-block;
  padding: 0.5rem 0;
  margin-top: 0;
  line-height: 110%;
  border-bottom: 2px solid #555;
}

hr {
  border-width: 0 0 1px;
  margin: 0 auto;
}

.key, code {
  background: #ececec;
  border: #a9a9a9;
  font-style: italic;
  font-family: monospace;
  color: black;
  padding: 0.7% 2%;
  box-shadow: inset 0px 0px 4px #94949430;
  white-space: nowrap;
}

#content {
  max-width: 33rem;
  padding: 1rem;
}

#footnotes {
  font-size: 0.9rem;
}

#footnotes .footdef {
  margin-bottom: 0.5rem;
}

#footnotes p.footpara {
  padding:0;
  text-overflow: clip;
  padding-left: 0.5rem;
}

blockquote {
  font-style: italic;
  font-size: 1rem;
  border-left: 2px solid #666;
}

pre.src {
  overflow: unset;
  overflow-x: scroll;
  overflow-y: visible;
}

pre.src:hover::before {
  display: none;
}

#postamble {
  margin: 1rem;
  font-size: 0.9rem;
  font-style: italic;
  color: #777;
}
