@font-face {
    font-family: 'OpenBaskerville0.0.53';
    src: url('../fonts/openbaskerville-0.0.53-webfont.eot');
    src: url('../fonts/openbaskerville-0.0.53-webfont.eot?#iefix') format('embedded-opentype'),
         url('.,/fonts/openbaskerville-0.0.53-webfont.woff') format('woff'),
         url('../fonts/openbaskerville-0.0.53-webfont.ttf') format('truetype'),
         url('../fonts/openbaskerville-0.0.53-webfont.svg#OpenBaskerville0.0.53Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

$dark: rgb(42, 42, 42);
$light: rgb(242, 242, 242);


body {
    margin:0;
    padding:0;
    font-family:"OpenBaskerville0.0.5";
    background:lighten($dark, 66%);
}

#header-background {
    text-align:center;
    background:rgba(42, 42, 42, 0.9);
    padding:2.4em;
    border-bottom:1px solid black;
}

header {
    margin:0 auto;
    max-width:33em;
    font-size:1.1em;
    color:darken($light, 30%);
    letter-spacing:1px;
    line-height:1.3em;
    text-shadow:0px 1px 0px black;

    h1 {
        color:white;
        font-size:4.2em;
        font-weight:100;
        text-transform:lowercase;
        padding:0.42em 0;
    }

    h2 {
        letter-spacing:13px;
    }

    p {
        font-style:italic;
    }

    p:nth-child(odd) {
        text-align:left;
    }

    p:nth-child(even) {
        text-align:right;
    }

    a {
        color:$light;
        padding-bottom:0.33em;
        border-bottom:1px darken($light, 42%) dashed;
    }
}

#main-wrapper {
    max-width:42em;
    background:rgba(242, 242, 242, 0.66);
    float:left;
    border-right:1px solid lighten($dark, 33%);

    img#background {
        top:-300px;
        position:absolute;
        z-index:-100;
        max-width:100%;
    }
}

section {
    margin:2.4em 12%;
    font-size:1.3em;
    line-height:1.4em;
    max-width:33em;

    h3 {
        font-variant:small-caps;
        font-weight:100;
        text-shadow:0px 1px 0px $light;
        border:1px solid lighten($dark, 42%);
        box-shadow:3px 3px 0px lighten($dark, 13%);
        display:inline-block;
        padding:0 0.42em;
        margin:0.42em 0;
        letter-spacing:2px;
    }

    p {
        position:relative;
        margin:1.3em 0;

        span.date {
            display:none;
            text-transform:uppercase;
            text-shadow:0px 1px 12px black;
            position:absolute;
            line-height:2em;
            font-size:3em;
            z-index:-1;
            font-weight:bold;
            color:white;
        }
    }
}

footer {
    clear:both;
    text-transform:lowercase;
    text-align:center;
    letter-spacing:1px;
    padding-top:0.42em;
    border:1px solid black;
    background:$dark;
    color:darken($light, 30%);
    text-shadow:0px 1px 0px black;
}